* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Style Start */
body {
  font-family: poppins;
}
:root {
  --primary-color: rgb(255, 89, 89);
  --secondary-color: rgb(255, 173, 90);
}
header,
main {
  max-width: 1128px;
  margin: 0 auto;
}
/* Common Style End */

/* Header Section Start  */
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header_heading {
  font-size: 4rem;
  font-family: Yeseva One;
  border-left: 0.3rem solid;
  border-color: var(--primary-color);
  padding-left: 0.5rem;
}
.header_heading span {
  font-size: 4rem;
  color: var(--secondary-color);
}
.header_description {
  font-size: 1rem;
  font-family: poppins;
  margin: 1rem 0;
}
.header_button {
  font-size: 1rem;
  color: white;
  background-color: var(--primary-color);
  padding: 0.8rem 2.1rem;
  border: none;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}
.header_button_scroll {
  color: rgb(67, 67, 67);
  font-weight: 400;
}
.header_image img {
  width: 100%;
  height: auto;
}
/* Header Section End  */
/* Mission Section Start */
.mission_heading {
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0;
}
.mission_heading span {
  color: var(--secondary-color);
}
.mission_cards {
  display: flex;
  gap: 1rem;
}
.mission_cards > * {
  flex: 1;
  text-align: justify;
  padding: 1rem;
  border-radius: 1rem;
}

.mission_card_image img {
  width: 141px;
  height: 141px;
}

.mission_card_mission {
  background-color: #4f9da676;
}
.mission_card_vission {
  background-color: #ff59593d;
}
.mission_card_goal {
  background-color: #fff4d686;
}
/* Mission Section End */
/* Limit Section Start */
.limit_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3rem 0;
}
.limit_image img {
  width:100%;
}
.limit_image {
  position: relative;
}
.limit_image :last-child {
  width: 50%;
  height: auto;
  position: absolute;
  top: 10%;
  left: -25%;
  z-index: -1;
}
.limit_heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.limit_description {
  text-align: justify;
}
.limit_button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
}

/* Limit Section End */

/* Community Section Start */
.community_container {
  flex-direction: row-reverse;
}
.community_image {
  position: relative;
}
.community_image img:nth-child(2) {
  width: 30%;
  height: auto;
}
.community_circle {
  position: absolute;
  bottom: -40px;
  right: -50px;
  z-index: -1;
}
/* Community Section End */
/* Corona Start  */
.corona_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}
.corona_app img {
  width: 100%;
}
.corona_app_shape img {
  width: 30%;
}
.corona_app {
  position: relative;
}
.corona_app_shape img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(180deg);
  z-index: -1;
}
.corona_app_shape img:nth-child(2) {
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: -1;
}
.corona_app_shape img:nth-child(3) {
  position: absolute;
  bottom: 100px;
  right: -10px;
  z-index: -1;
}
.corona_text_title {
  font-size: 2rem;
}
.corona_text_title span {
  font-size: 2rem;
  color: var(--secondary-color);
}
.corona_text_description {
  font-size: 1rem;
}
.corona_button {
  display: inline-block;
  width: 20%;
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

/* Corona End */
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 3rem 0;
}
footer h4 {
  font-family: lobster;
  font-size: 2rem;
  margin-bottom: 1rem;
}
footer span {
  color: var(--secondary-color);
}
/* Responsive Layout Start */

/* Small devices  */
@media only screen and (max-width: 576px) {
  /* Corona Section Start */
  .corona_app_shape img {
    display: none;
  }

  .corona_container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .corona_app img {
    width: 100%;
  }

  .corona_text_title {
    font-size: 2rem;
  }
  .corona_text_title span {
    font-size: 2rem;
    color: var(--secondary-color);
  }
  .corona_text_description {
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
  }
  .corona_button {
    display: inline-block;
    width: 40%;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
  }

  /* Corona Section End */
  /* Community Section Start */
  .community_circle {
    display: none;
  }
  /* Community Section End */
  /* Limit Section Start */
  .limit_container {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
.limit_image img {
  width:100%;
}
  .limit_image :last-child {
    display: none;
  }
  .limit_heading br {
    display: none;
  }
  /* Limit Section End */
  /* Mission Section Start */
  .mission-container {
    width: 90%;
    margin: 0 auto;
  }
  .mission_cards {
    flex-direction: column;
    gap: 2rem;
  }

  .mission_card_image img {
    width: 40%;
  }
  .mission_card_image {
    display: flex;
    justify-content: center;
  }
  /* Mission Section End */

  /* Header Section Start */
  .header_container {
    flex-direction: column-reverse;
    width: 100%;
    text-align: center;
  }
  .header_heading {
    font-size: 2.5rem;
    font-family: Yeseva One;
    border-left: 0.3rem solid;
    border-color: var(--primary-color);
  }
  .header_heading span {
    font-size: 2rem;
  }
  .header_image img {
    width: 70%;
    height: auto;
  }
  .header_heading {
    border-left: none;
    margin-bottom: 1rem;
  }
  .header_description {
    padding: 0.8rem;
    text-align: justify;
  }
  /* Header Section End */
}

/* Medium devices  */
@media only screen and (min-width: 576px) and (max-width: 992px) {
  /* Corona Section Start */
  .corona_app_shape img {
    display: none;
  }
  .corona_container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .corona_app img {
    width: 100%;
  }

  .corona_text_title {
    font-size: 2rem;
  }
  .corona_text_title span {
    font-size: 2rem;
    color: var(--secondary-color);
  }
  .corona_text_description {
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
  }
  .corona_button {
    display: inline-block;
    width: 40%;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
  }

  /* Corona Section End */
  /* Limit Section Start */
  .limit_container {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
  .mission_cards {
    padding: 1rem;
  }

  /* Limit Section End */

  /* Mission Section Start */
  /* Mission Section End */

  /* Header Section Start  */
  .header_container {
    padding: 1rem;
    gap: 0.5rem;
  }
  .header_heading {
    font-size: 2rem;
  }
  .header_heading span {
    font-size: 2.5rem;
  }
  /* Header Section End */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  //
}

/* Responsive Layout End */
